body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: Roboto, Helvetica, Arial, sans-serif;
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgb(90, 147, 212) 25%);
  background-repeat: no-repeat;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.message {
  border-radius: 5px;
  box-shadow:
    0 2px 2px rgba(0, 0, 0, 0.2),
    0 1px 5px rgba(0, 0, 0, 0.2),
    0 0 0 10px rgba(255, 255, 255, 0.4);

}

.app-title {
  color: rgb(90, 147, 212);
  font-weight: bold;
  font-size: 24px;
}

#message a {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  color: white;
  border-radius: 4px;
}



.form-2 {
  /* Size and position */
  width: 600px;
  margin: 60px auto 30px;
  padding: 15px;
  position: relative;

  /* Styles */
  background: #ffffff;
  border-radius: 4px;
  color: #7e7975;
  box-shadow:
      0 2px 2px rgba(0,0,0,0.2),        
      0 1px 5px rgba(0,0,0,0.2),        
      0 0 0 12px rgba(255,255,255,0.4); 
}

.form-2 h1 {
font-size: 24px;
font-weight: bold;
color: rgb(90, 147, 212);
padding-bottom: 8px;
border-bottom: 1px solid #EBE6E2;

box-shadow: 0 1px 0 rgba(255,255,255,0.8);
}

.form-2 h1 .log-in {
display: inline-block;
text-transform: uppercase;
}

.form-2 h1 .log-in {
color: rgb(90, 147, 212);
padding-right: 2px;
}


.form-2 .float {
width: 100%;
float: right;
border-top: 1px solid rgba(255,255,255,1);
}

.form-2 label {
display: block;
padding: 0 0 5px 2px;
cursor: pointer;
text-transform: uppercase;
font-weight: 400;
text-shadow: 0 1px 0 rgba(255,255,255,0.8);
font-size: 11px;
}

.form-2 label i {
margin-right: 5px; /* Gap between icon and text */
display: inline-block;
width: 10px;
}
.form-2 input[type=email],
.form-2 input[type=password] {
font-family: 'Lato', Calibri, Arial, sans-serif;
font-size: 13px;
font-weight: 400;
display: block;
width: 100%;
padding: 5px;
margin-bottom: 5px;
border: 3px solid #ebe6e2;
border-radius: 5px;
transition: all 0.3s ease-out;
}

.form-2 input[type=email]:hover,
.form-2 input[type=password]:hover {
border-color: #CCC;
}

.form-2 label:hover ~ input {
border-color: #CCC;
}

.form-2 input[type=email]:focus,
.form-2 input[type=password]:focus {
border-color: #BBB;
outline: none; /* Remove Chrome's outline */
}
.clearfix:after {
content: "";
display: table;
clear: both;
}

.sign_in_button_button {
  background-color:rgb(90, 147, 212);
  color: white;
  border-radius: 8px;
  top: 1px;
  margin-left: 89%;
  margin-top: 2%;
}
